language: php

dist: bionic
addons:
  postgresql: "9.6"
  code_climate:
    repo_token: CodeClimateTokenForReplacement

sudo: false

services:
  - postgresql
  - redis-server

env:
  - DB=postgres

matrix:
  fast_finish: true

  include:
    - name: "PHP 7.1"
      php: 7.1

    - name: "PHP 7.2"
      php: 7.2

    - name: "PHP 7.3"
      php: 7.3

before_script:
  - psql --command='create database leaders;' --username=postgres
  - cp config/app_db.travis.php config/app_db.php
  - cp config/app_file.travis.php config/app_file.php
  - cp config/app.travis.php config/app.php
  - composer install
  - composer run-script post-install-cmd --no-interaction
  - sh -c "bin/cake database build"
  - sh -c "bin/cake database seed"
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - sh -c "bin/cake code_completion generate -d"
  - composer cs-check
  - composer test

after_success:
  - bash <(curl -s https://codecov.io/bash)

after_script:
  - ./cc-test-reporter after-build --coverage-input-type clover --id CodeClimateTokenForReplacement --exit-code $TRAVIS_TEST_RESULT

notifications:
  email: false

