table {
    thead, tbody {
        tr {
            td, th {
                vertical-align: middle !important;
            }
        }
    }
}

#modal-notify-table {
    font-size: 0.8rem;
}

.thick-card {
    margin-top: 15px;
    margin-bottom: 15px;
}
