header.masthead {
  margin-bottom: 50px;
  background: no-repeat 50%;
  background-color: #6c757d;
  background-attachment: scroll;
  position: relative;
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
  }
}