
$colour-primary: #7413dc;
$colour-secondary: #00b8a3;
$colour-success: #25b755;
$colour-info: #006ddf;
$colour-warning: #ffe627;
$colour-danger: #ed3f23;
$colour-background-text: #7d8285;
$colour-hover-primary: adjust-hue($colour-primary, -10);
