$inta-blue: #233957;
$inta-green: #a2ccaf;

#inta-nav {
  background: linear-gradient(120deg, $inta-green, $inta-blue);
}

@import "custom-bootstrap";

@media (min-width: 576px) {
  .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: #fff;
      font-weight: 700;
    }
  }
}

#paralaxImage {
  margin-top: 5rem;
  height: 500px;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  border: none;
  background-position: initial initial;
  background-repeat: initial initial;

  .image {
    background-image: url("https://intaconnected.co/assets/img/inta04.jpeg");
    background-size: cover;
    position: absolute;
    height: 200%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -100;
    transform: translate3d(0px, -21.75543885971493%, 0px);
    background-position: center center;
  }

  .card {
    opacity: 1;
    border: none !important;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
    margin-top: 84.375px;
    background-color: transparent;
  }
}

.page-footer {
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

* {
  font-family: Lato, sans-serif;
}
